.footer__wrapper {
  padding: 40px 0 0;
  @include media-desktop {
    width: 708px;
    padding: 30px 0 0;
  }
  @include media-big-mobile {
    padding: 30px 0 0;
    width: 300px;
  }
}

.footer__title {
  color: $color-white;
}

.footer__title_contacts {
  width: 279px;
}

.footer__title_address {
  width: 270px;
}

.footer__item {
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  @include media-desktop {
    padding: 0;
  }
  @include media-big-mobile {
    align-items: center;
    text-align: center;
  }
}

.footer__item_begin {
  width: 278px;
  @include media-big-mobile {
    height: 208px;
  }
}

.footer__item_center {
  width: 302px;
  padding-right: 22px;
  @include media-desktop {
    padding: 0;
  }
  @include media-big-mobile {
    height: 222px;
    padding-top: 39px;
  }
}

.footer__info_center {
  width: 258px;
  @include media-big-mobile {
    text-align: left;
  }
}

.footer__info_center2 {
  @include media-big-mobile {
    width: 258px;
    text-align: left;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
}

.footer__ico {
  padding: 0 20px 0 0;
}

.footer__ico_email {
  background: url(../../assets/icons/mail.svg);
  @include background($width: 40px, $height: 26px);
}

.footer__ico_phone {
  background: url(../../assets/icons/phone.svg);
  @include background($width: 40px, $height: 32px);
}

.footer__ico_address {
  background: url(../../assets/icons/pin.svg);
  @include background($width: 22px, $height: 32px);
}

.footer__info {
  color: $color-primary;
  @extend %font-add;
  @include font($size: 2rem, $height: 115%, $space: 0.06em);
  @extend %transition;
  &:hover {
    color: $color-primary-light;
  }
}

.footer__image {
  display: flex;
  justify-content: center;
}

.footer__img {
  width: 300px;
  height: 310px;
  @include media-desktop {
    padding-top: 64px;
  }
  @include media-big-mobile {
    width: 260px;
    height: 269px;
    padding-top: 40px;
  }
}
