.header {
  padding: 60px 0;
  @include media-desktop {
    padding: 30px 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  &.open {
    @include media-big-mobile {
      .header__logo_opened {
        display: none;
      }
    }
  }
}

.hamburger-menu {
  @extend %transition;
  @include media-big-mobile {
    position: absolute;
    display: none;
    padding: 0;
    top: 0;
    right: -320px;
    z-index: 1;
    width: 320px;
    height: 100vh;
    @include font($size: 3.2rem, $height: 160%);
    &.open {
      @include media-big-mobile {
        transition: all 0.7s ease-out;
        display: block;
        right: 0;
      }
      .logo-wrapper {
        @include media-big-mobile {
          &_hidden {
            width: 255px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0 0 10px;
          }
        }
      }

      .header__navigation {
        @include media-big-mobile {
          margin-top: 158px;
        }
        & .navigation {
          @include media-big-mobile {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 243px;
            height: 327px;
            text-align: center;
            @include font($size: 3.2rem, $height: 160%);
            margin: 0 auto;
            > * {
              padding: 0;
            }
            > li > a.navigation__link_active {
              text-underline-offset: 12px;
            }
          }
        }
      }
    }
  }
}
