.navigation {
  display: flex;
  width: 443px;
  @include font($size: 1.5rem, $height: 160%);
}

.navigation__link {
  list-style: none;
  padding: 0 0 0 35px;
  cursor: pointer;
  &:first-child {
    padding: 0;
  }
  @extend %transition;
  color: $color-light-text;
  text-decoration: underline transparent;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  &:hover {
    color: $color-light-cards;
    text-decoration: underline;
    text-decoration-color: $color-primary;
    text-decoration-thickness: 3px;
  }
}

.navigation__link_active {
  color: $color-light-cards;
  text-decoration: underline;
  text-decoration-color: $color-primary;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}
