.logo {
  width: 186px;
  @extend %transition;
}

.logo__main {
  display: block;
  a:hover & {
    @extend %transition;
  }
}

.logo__description {
  display: block;
  @include font($size: 1.3rem, $height: 15px, $space: 0.1em);
  padding-top: 10px;
  text-align: center;
  a:hover & {
    @extend %transition;
  }
}