.our-friends__arrow_left {
  background: url(../../assets/icons/paginator/button_arrow_left.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_arrow_left_hover.svg);
  }

  @include media-big-mobile {
    justify-self: end;
  }
}

.our-friends__arrow_right {
  background: url(../../assets/icons/paginator/button_arrow_right.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_arrow_right_hover.svg);
  }
  @include media-big-mobile {
    justify-self: start;
  }
}

.our-friends__slider {
  display: flex;
  width: 340px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 60px 0 100px;
  @include media-desktop {
    padding: 38px 0 76px;
  }
  @include media-big-mobile {
    width: 300px;
    padding: 43px 0;
  }
  [data-disabled='true'] {
    &:hover {
      cursor: auto;
    }
  }
}

.our-friends__slider_1 {
  background: url(../../assets/icons/paginator/button_paginator_active_left_all.svg);
  width: 52px;
  &:hover {
    cursor: pointer;
    background: url(../../assets/icons/paginator/button_paginator_active_hover_left_all.svg);
  }
  &.btn-disabled {
    background: url(../../assets/icons/paginator/button_paginator_inactive1.svg);
    &:hover {
      cursor: auto;
    }
  }
}

.our-friends__slider_2 {
  background: url(../../assets/icons/paginator/button_paginator_active_left.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    background: url(../../assets/icons/paginator/button_paginator_active_hover_left.svg);
  }
  &.btn-disabled {
    background: url(../../assets/icons/paginator/button_paginator_inactive_left.svg);
    &:hover {
      cursor: auto;
    }
  }
}

.our-friends__slider_3 {
  @include background($width: 52px, $height: 52px);
  display: flex;
  align-items: center;
  background-color: $color-primary;
  border-radius: 100px;
  @extend %font-add;
  @include font($size: 2rem, $height: 115%, $space: 0.06em);
  justify-content: center;
  &:hover {
    cursor: default;
  }
}

.our-friends__slider_4 {
  background: url(../../assets/icons/paginator/button_paginator_active1.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_paginator_active1_hover.svg);
  }
  &.btn-disabled {
    background: url(../../assets/icons/paginator/button_paginator_inactive_right.svg);
    &:hover {
      cursor: auto;
    }
  }
}

.our-friends__slider_5 {
  background: url(../../assets/icons/paginator/button_paginator_active2.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_paginator_active2_hover.svg);
  }
  &.btn-disabled {
    background: url(../../assets/icons/paginator/button_paginator_inactive_right_all.svg);
    &:hover {
      cursor: auto;
    }
  }
}