.help {
  background-color: $color-white;
}

.help__title {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 60px;
  @include media-big-mobile {
    padding: 42px 0;
    width: 270px;
  }
}

.help-item {
  padding: 0 0 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-desktop {
    width: 170px;
  }
  @include media-big-mobile {
    width: 130px;
    padding: 0 0 30.5px;
  }
}

.help__icon_food {
  background: url(../../assets/icons/food.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_transportation {
  background: url(../../assets/icons/transportation.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_toys {
  background: url(../../assets/icons/toys.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_bowls {
  background: url(../../assets/icons/bowls-and-cups.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_shampoos {
  background: url(../../assets/icons/shampoos.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_vitamins {
  background: url(../../assets/icons/vitamins.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_medicines {
  background: url(../../assets/icons/medicines.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_collars {
  background: url(../../assets/icons/icon-collars-leashes.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__icon_sleep {
  background: url(../../assets/icons/sleeping-area.svg);
  @include background($width: 60px, $height: 60px);
  @include media-big-mobile {
    @include background($width: 50px, $height: 50px);
  }
}

.help__text {
  padding: 30px 0 0;
  @include media-big-mobile {
    padding: 20px 0 0;
  }
}

.layout-5-column_help {
  padding-bottom: 45px;
  margin: 0 auto;
  column-gap: 12rem;
  @include media-big-mobile {
    padding-bottom: 12px;
  }
}
