.our-friends {
  background-color: $color-light-background;
}

.carousel-container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  @include media-desktop {
    width: 580px;
    display: flex;
    column-gap: 4rem;
    > * {
      flex-basis: 45%;
    }
  }
  @include media-big-mobile {
    width: 270px;
    > * {
      flex-basis: 50%;
    }
  }
}

.our-friends__layout {
  display: flex;
}

.our-friends__carousel {
  display: flex;
  align-items: center;
  @include media-desktop {
    width: 708px;
    margin: 0 auto;
  }
  @include media-big-mobile {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 80px;
    width: 270px;
  }
}

.carousel-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  width: 1200px;
  @include media-desktop {
    width: 580px;
  }
  @include media-big-mobile {
    column-gap: 0;
    width: 270px;
  }
}

.card {
  background-color: $color-light-cards;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  &:hover {
    @extend %transition;
    cursor: pointer;
    background-color: $color-white;
    > .card__button > button {
      background-color: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }
}

.card__image {
  width: 270px;
  height: 270px;
}

.card__name {
  padding: 30px 0 0;
  @extend %font-add;
  @include font($size: 2rem, $height: 115%, $space: 0.06em);
}

.card__button {
  padding: 30px 0;
}

.our-friends__title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 60px;
  @include media-big-mobile {
    padding: 42px 0 40px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}

.our-friends__button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 100px;
  @include media-big-mobile {
    padding: 42px 0 42px;
  }
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

@include media-desktop {
  @keyframes move-right {
    from {
      left: -580px;
    }
    to {
      left: -1160px;
    }
  }
}

@include media-big-mobile {
  @keyframes move-right {
    from {
      left: -270px;
    }
    to {
      left: -540px;
    }
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 0.5s;
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@include media-desktop {
  @keyframes move-left {
    from {
      left: -580px;
    }
    to {
      left: 0px;
    }
  }
}

@include media-big-mobile {
  @keyframes move-left {
    from {
      left: -270px;
    }
    to {
      left: 0px;
    }
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 0.5s;
}
