.our-friends {
  background-color: $color-light-background;
}

.our-friends__layout {
  width: 990px;
}

.our-friends__carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: $color-light-cards;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  &:hover {
    transform: scale(1.1) translate(0%, -1%);
    @extend %transition;
    cursor: pointer;
    background-color: $color-white;
  }
}

.card__image {
  width: 270px;
  height: 270px;
}

.card__name {
  padding: 30px 0 0;
}

.card__button {
  padding: 30px 0;
}

.our-friends__title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 60px;
}

.our-friends__button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 100px;
}

.our-friends__arrow_left {
  background: url(../../assets/icons/paginator/button_arrow_left.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_arrow_left_hover.svg);
  }
}

.our-friends__arrow_right {
  background: url(../../assets/icons/paginator/button_arrow_right.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_arrow_right_hover.svg);
  }
}

.our-friends__slider {
  display: flex;
  width: 340px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0 100px;
}

.our-friends__slider_1 {
  background: url(../../assets/icons/paginator/button_paginator_inactive1.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_paginator_inactive1.svg);
  }
}

.our-friends__slider_2 {
  background: url(../../assets/icons/paginator/button_paginator_inactive2.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
  }
}

.our-friends__slider_3 {
  background: url(../../assets/icons/paginator/button_paginator_center.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
  }
}

.our-friends__slider_4 {
  background: url(../../assets/icons/paginator/button_paginator_active1.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_paginator_active1_hover.svg);
  }
}

.our-friends__slider_5 {
  background: url(../../assets/icons/paginator/button_paginator_active2.svg);
  @include background($width: 52px, $height: 52px);
  &:hover {
    cursor: pointer;
    @extend %transition;
    background: url(../../assets/icons/paginator/button_paginator_active2_hover.svg);
  }
}
