@mixin font($size, $height: $size, $weight: 400, $style: normal, $space: 0) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $space;
}

@mixin columns($width, $justify) {
  display: flex;
  justify-content: $justify;
  flex-wrap: wrap;
  > * {
    flex-basis: $width;
  }
}

@mixin background(
  $repeat: no-repeat,
  $display: block,
  $size: contain,
  $width,
  $height
) {
  background-repeat: $repeat;
  display: $display;
  width: $width;
  height: $height;
  background-size: $size;
}
