.logo__main {
  color: $color-primary;
  a:hover & {
    color: $color-primary-light;
  }
}

.logo__description {
  color: $color-light-text;
  a:hover & {
    color: $color-white;
  }
}

.navigation__link {
  color: $color-light-text;
  &:hover {
    color: $color-light-cards;
  }
}

.navigation__link_active {
  color: $color-light-cards;
}

.main {
  background: radial-gradient(
      100% 215.42% at 0% 0%,
      $color-start-gradient1 0%,
      $color-start-gradient2 100%
    ),
    linear-gradient(0deg, $color-end-gradient, $color-end-gradient);
}

.our-friends__carousel {
  justify-content: space-between;
}

.our-friends__layout {
  width: 990px;
  @include media-desktop {
    width: 580px;
  }
}

.our-friends__title {
  padding: 80px 0 60px;
  @include media-big-mobile {
    width: 300px;
    padding: 42px 0 40px;
    margin: 0 auto;
    text-align: center;
  }
}

.card_woody {
  @include media-desktop {
    display: none;
  }
}

.card_jennifer {
  @include media-big-mobile {
    display: none;
  }
}