.header {
  padding: 30px 0;
}

.logo__main {
  color: $color-dark-title;
  a:hover & {
    color: $color-dark;
  }
}

.logo__description {
  color: $color-dark-title;
  a:hover & {
    color: $color-dark;
  }
}

.navigation__link {
  color: $color-dark-title;
  &:hover {
    color: $color-dark;
  }
}

.navigation__link_active {
  color: $color-dark;
}

.hamburger {
  &::before {
    background: $color-black;
  }
  &::after {
    background: $color-black;
  }
}

.hamburger__line {
  background: $color-black;
}

.our-friends__carousel {
justify-content: center;
}

.our-friends__title {
  // padding: 80px 0 60px;
  @include media-desktop {
    padding: 80px 0 30px;
  }
  @include media-big-mobile {
        padding: 42px 0 40px;
  }
}

.card {
  margin: 0 0 30px;
}

.card_scarlett {
  @include media-desktop {
    display: none;
  }
}

.card_freddie {
  @include media-desktop {
    display: none;
  }
}

.card_sophia {
  @include media-big-mobile {
    display: none;
  }
}

.card_timmy {
  @include media-big-mobile {
    display: none;
  }
}

.card_charly {
  @include media-big-mobile {
    display: none;
  }
}

.footer {
  background: radial-gradient(
      100% 215.42% at 0% 0%,
      $color-start-gradient1 0%,
      $color-start-gradient2 100%
    ),
    linear-gradient(0deg, $color-end-gradient, $color-end-gradient);
}
