body {
  position: relative;
}

.header {
  padding: 0;
  position: sticky;
  z-index: 2;
  top: 0;
  &.open {
    position: static;
    background: rgba(41, 41, 41, 0.6);
  }
}

main {
  &.open {
    background-color: $color-white;
    opacity: 0.6;
  }
}

.header__scroller {
  padding: 30px 0;
  background-color: $color-white;
  overflow: auto;
}

.hamburger-menu {
  @include media-big-mobile {
    background-color: $color-light-background;
  }
  .header__navigation {
    & .navigation {
      @include media-big-mobile {
        background-color: $color-light-background;
      }
    }
  }
}

.logo__main {
  color: $color-dark-title;
  a:hover & {
    color: $color-dark;
  }
}

.logo__description {
  color: $color-dark-title;
  a:hover & {
    color: $color-dark;
  }
}

.navigation__link {
  color: $color-dark-title;
  text-decoration-color: $color-primary;
  &:hover {
    color: $color-dark;
    text-decoration-color: $color-primary;
  }
}

.hamburger {
  &::before {
    background: $color-black;
  }
  &::after {
    background: $color-black;
  }
}

.hamburger__line {
  background: $color-black;
}

.our-friends__carousel {
  justify-content: center;
}

.our-friends__title {
  @include media-desktop {
    padding: 80px 0 30px;
  }
  @include media-big-mobile {
    padding: 42px 0 40px;
  }
}

.carousel-container {
  width: 1200px;
  max-height: 900px;
  margin: 0 auto;

  @include media-desktop {
    width: 580px;
    max-height: 1365px;
  }
  @include media-big-mobile {
    width: 270px;
  }
}

.carousel-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  max-height: 900px;
  width: 1200px;
  @include media-desktop {
    width: 580px;
    max-height: 1365px;
  }
  @include media-big-mobile {
    width: 270px;
  }
}

.card {
  margin: 0 0 30px;
}

.card_scarlett {
  @include media-desktop {
    display: none;
  }
}

.card_freddie {
  @include media-desktop {
    display: none;
  }
}

.card_sophia {
  @include media-big-mobile {
    display: none;
  }
}

.card_timmy {
  @include media-big-mobile {
    display: none;
  }
}

.card_charly {
  @include media-big-mobile {
    display: none;
  }
}

.footer {
  background: radial-gradient(
      100% 215.42% at 0% 0%,
      $color-start-gradient1 0%,
      $color-start-gradient2 100%
    ),
    linear-gradient(0deg, $color-end-gradient, $color-end-gradient);
  &.open {
    background-color: $color-dark;
    opacity: 0.6;
  }
}
