.header {
  padding: 30px 0;
}

.logo__main {
  color: $color-dark-title;
  a:hover & {
    color: $color-dark;
  }
}

.logo__description {
  color: $color-dark-title;
  a:hover & {
    color: $color-dark;
  }
}

.card {
  margin: 0 0 30px;
}

.navigation__link {
  color: $color-dark-title;
  &:hover {
    color: $color-dark;
  }
}

.navigation__link_active {
  color: $color-dark;
}

.footer {
  background: radial-gradient(
      100% 215.42% at 0% 0%,
      $color-start-gradient1 0%,
      $color-start-gradient2 100%
    ),
    linear-gradient(0deg, $color-end-gradient, $color-end-gradient);
}
